@model Book.Naergaga.Models.PublicView.HomeIndexViewModel
@using Book.Naergaga.Extensions
@{
    ViewBag.Title = "Home Page";
    var books = Model.Books;
}

<table class="table">
    <thead>
        <tr>
            <th>书名</th>
            <th>发布日期</th>
            <th>大小</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in books)
            {
            <tr>
                <td>@Html.ActionLink(item.Name, "Index", "Book", new { id = item.Id }, null)</td>
                <td>@item.PostTime</td>
                <td>@item.FileSize</td>
            </tr>
        }
    </tbody>
</table>
@Html.Paging(Model.Option, "AuthorBook", "Book")
