@model Book.Naergaga.Models.PublicView.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
    var books = Model.Books;
}

@section css {
    <style>
        ul,li {
            margin:0;
            padding:0;
        }
        .bookList ul {
            list-style:none;
        }
    </style>
}

<div id="bookList1" class="bookList">
    <ul>
        @foreach (var item in books)
        {
            <li><a href="@Url.Action("Index","Book",new {id=item.Id ,area=""})">@item.Name</a></li>
        }
    </ul>
</div>