@model Book.Naergaga.Models.AdminView.TagEditViewModel
@{
    var tag = Model.Tag;
    var isCreate = Model.IsCreate;
    ViewBag.isCreate = isCreate;
    var viewText = isCreate ? "Create" : "Update";
}
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4>@viewText Tag</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("TagEdit", tag)
            </div>
        </div>
    </div>
</div>
